<div class="jumbotron">
	<h1>すごい就職ナビ</h1>
	<p>とてもすごい</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<a href="/jobs" class="btn btn-default">仕事一覧</a>
<a href="/company" class="btn btn-default">企業一覧</a>